html,
body {
  background: #f5f5f5;
  overflow: hidden;
}

.body {
  width: 900px;
  height: 800px;
  border: 10px solid #ddd;
  overflow: hidden;
  margin: 40px auto;
  position: relative;
}

#tooltip {
  position: absolute;
  user-select: none;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 4px;
  border-radius: 4px;
  line-height: 16px;
  font-size: 14px;
  display: none;
  max-width: 130px;
  min-width: 80px;
  text-align: center;
}

.modal-layer {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s;
}

.modal-layer.show {
  opacity: 1;
}

.modal {
  position: absolute;
  display: none;
  left: 50%;
  top: 80%;
  z-index: 10000;
  background: white;
  min-height: 120px;
  width: 400px;
  margin-left: -200px;
  box-shadow: 0 0 10px 0px #999;
  opacity: 0;
  transition: all 0.3s;
}

.modal.show {
  opacity: 1;
  top: 30%;
}

.modal .title {
  font-weight: normal;
  font-size: 16px;
  padding: 10px;
  border-bottom: 1px solid #999;
  margin: 0;
}

.modal .name {
  font-weight: normal;
  font-size: 14px;
  padding: 10px;
  margin: 0;
}

.modal .title i {
  cursor: pointer;
}

.modal .modal-body {
  font-size: 14px;
  padding: 20px 10px;
}
